:root {
    --c-teal: #00a8a8;
    --c-indigo: #2230cc;
    --c-white: #ffffff;
    --c-gray-light: #f0f0f0;
}

.aurora-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

#login_container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
}

#form_container {
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tipo_de_usuario {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

#campos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#usuario, #contra{
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;
}


#button {
    width: 100%;
    padding: 10px;
    background-color: #2230cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}